* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_wrapper {
  width: 100%;
  height: 100vh;
  background-color: #303030;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 35px;
}

.music_container {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.album_item {
  border: 1px solid white;
  box-shadow: 5px 10px 8px #202020;
  background-color: #202020;
  padding: 5px;
}

.album_item h2 {
  margin: 5px 0;
}

.album_item p {
  margin: 5px 0;
}

.cover_image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}

h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

ol li {
  margin: 5px 0;
}

.form_wrapper {
  background-color: #202020;
  text-align: left;
  font-size: 25px;
  padding: 25px;
}

.form_wrapper .bottone_salva {
  padding: 5px;
  font-size: 20px;
  background-color: green;
}

